# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

#Faceless
run

# IntelliJ
out/
gradlew
gradlew.bat
.gradle
gradle
build

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Common working directory
run/
.gradle/8.10.1/executionHistory/executionHistory.bin
.gradle/8.10.1/executionHistory/executionHistory.lock
.gradle/8.10.1/fileHashes/fileHashes.bin
.gradle/8.10.1/fileHashes/fileHashes.lock
.gradle/8.10.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/tmp/compileJava/compileTransaction/stash-dir/AquaticLimbExtensions$1.class.uniqueId30
build/tmp/compileJava/compileTransaction/stash-dir/AquaticLimbExtensions.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/BurningLight$1.class.uniqueId52
build/tmp/compileJava/compileTransaction/stash-dir/BurningLight.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus$1.class.uniqueId22
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus$1Direction.class.uniqueId23
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus$2.class.uniqueId50
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus.class.uniqueId55
build/tmp/compileJava/compileTransaction/stash-dir/Cleave$1.class.uniqueId51
build/tmp/compileJava/compileTransaction/stash-dir/Cleave.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/GrapeShot$1.class.uniqueId39
build/tmp/compileJava/compileTransaction/stash-dir/GrapeShot$2.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/GrapeShot.class.uniqueId44
build/tmp/compileJava/compileTransaction/stash-dir/GreekGodsGUI.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/JsonUtils.class.uniqueId54
build/tmp/compileJava/compileTransaction/stash-dir/LightningToss.class.uniqueId31
build/tmp/compileJava/compileTransaction/stash-dir/Minerva.class.uniqueId41
build/tmp/compileJava/compileTransaction/stash-dir/Minigame.class.uniqueId34
build/tmp/compileJava/compileTransaction/stash-dir/MythicalCreaturesGUI.class.uniqueId21
build/tmp/compileJava/compileTransaction/stash-dir/OceansSurge$1.class.uniqueId36
build/tmp/compileJava/compileTransaction/stash-dir/OceansSurge.class.uniqueId56
build/tmp/compileJava/compileTransaction/stash-dir/PlayerListener.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/PlayerStats.class.uniqueId24
build/tmp/compileJava/compileTransaction/stash-dir/PlayerStatsAdapter.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/RomanGodsGUI.class.uniqueId42
build/tmp/compileJava/compileTransaction/stash-dir/SeismicBlast$1.class.uniqueId48
build/tmp/compileJava/compileTransaction/stash-dir/SeismicBlast.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/ShadowTravel.class.uniqueId20
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$1.class.uniqueId10
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$2.class.uniqueId45
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$3.class.uniqueId28
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$4.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener.class.uniqueId29
build/tmp/compileJava/compileTransaction/stash-dir/SkillModeToggle.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/SkillsCommand.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/SkillsGUI$1.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/SkillsGUI.class.uniqueId25
build/tmp/compileJava/compileTransaction/stash-dir/SkillTriggers$1.class.uniqueId26
build/tmp/compileJava/compileTransaction/stash-dir/SkillTriggers.class.uniqueId33
build/tmp/compileJava/compileTransaction/stash-dir/SkillUtils$1.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/SkillUtils.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/StormsEmbrace$1.class.uniqueId16
build/tmp/compileJava/compileTransaction/stash-dir/StormsEmbrace.class.uniqueId40
build/tmp/compileJava/compileTransaction/stash-dir/SuperCharged$1.class.uniqueId53
build/tmp/compileJava/compileTransaction/stash-dir/SuperCharged.class.uniqueId43
build/tmp/compileJava/compileTransaction/stash-dir/TidalWave$1.class.uniqueId47
build/tmp/compileJava/compileTransaction/stash-dir/TidalWave.class.uniqueId32
build/tmp/compileJava/compileTransaction/stash-dir/TitansGUI.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/TomahawkThrow$1.class.uniqueId49
build/tmp/compileJava/compileTransaction/stash-dir/TomahawkThrow.class.uniqueId38
build/tmp/compileJava/compileTransaction/stash-dir/UmbrakinesisHades$1.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/UmbrakinesisHades$2.class.uniqueId19
build/tmp/compileJava/compileTransaction/stash-dir/UmbrakinesisHades.class.uniqueId46
build/tmp/compileJava/compileTransaction/stash-dir/VineWhip$1.class.uniqueId37
build/tmp/compileJava/compileTransaction/stash-dir/VineWhip.class.uniqueId35
build/tmp/compileJava/compileTransaction/stash-dir/WindWall$1.class.uniqueId27
build/tmp/compileJava/compileTransaction/stash-dir/WindWall.class.uniqueId5
build/tmp/compileJava/previous-compilation-data.bin
.gradle/8.10.1/executionHistory/executionHistory.bin
.gradle/8.10.1/executionHistory/executionHistory.lock
.gradle/8.10.1/fileHashes/fileHashes.bin
.gradle/8.10.1/fileHashes/fileHashes.lock
.gradle/8.10.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/tmp/compileJava/compileTransaction/stash-dir/AquaticLimbExtensions$1.class.uniqueId30
build/tmp/compileJava/compileTransaction/stash-dir/AquaticLimbExtensions.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/BurningLight$1.class.uniqueId52
build/tmp/compileJava/compileTransaction/stash-dir/BurningLight.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus$1.class.uniqueId22
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus$1Direction.class.uniqueId23
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus$2.class.uniqueId50
build/tmp/compileJava/compileTransaction/stash-dir/ChannelingOfTartarus.class.uniqueId55
build/tmp/compileJava/compileTransaction/stash-dir/Cleave$1.class.uniqueId51
build/tmp/compileJava/compileTransaction/stash-dir/Cleave.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/GrapeShot$1.class.uniqueId39
build/tmp/compileJava/compileTransaction/stash-dir/GrapeShot$2.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/GrapeShot.class.uniqueId44
build/tmp/compileJava/compileTransaction/stash-dir/GreekGodsGUI.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/JsonUtils.class.uniqueId54
build/tmp/compileJava/compileTransaction/stash-dir/LightningToss.class.uniqueId31
build/tmp/compileJava/compileTransaction/stash-dir/Minerva.class.uniqueId41
build/tmp/compileJava/compileTransaction/stash-dir/Minigame.class.uniqueId34
build/tmp/compileJava/compileTransaction/stash-dir/MythicalCreaturesGUI.class.uniqueId21
build/tmp/compileJava/compileTransaction/stash-dir/OceansSurge$1.class.uniqueId36
build/tmp/compileJava/compileTransaction/stash-dir/OceansSurge.class.uniqueId56
build/tmp/compileJava/compileTransaction/stash-dir/PlayerListener.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/PlayerStats.class.uniqueId24
build/tmp/compileJava/compileTransaction/stash-dir/PlayerStatsAdapter.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/RomanGodsGUI.class.uniqueId42
build/tmp/compileJava/compileTransaction/stash-dir/SeismicBlast$1.class.uniqueId48
build/tmp/compileJava/compileTransaction/stash-dir/SeismicBlast.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/ShadowTravel.class.uniqueId20
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$1.class.uniqueId10
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$2.class.uniqueId45
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$3.class.uniqueId28
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener$4.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/SkillListener.class.uniqueId29
build/tmp/compileJava/compileTransaction/stash-dir/SkillModeToggle.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/SkillsCommand.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/SkillsGUI$1.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/SkillsGUI.class.uniqueId25
build/tmp/compileJava/compileTransaction/stash-dir/SkillTriggers$1.class.uniqueId26
build/tmp/compileJava/compileTransaction/stash-dir/SkillTriggers.class.uniqueId33
build/tmp/compileJava/compileTransaction/stash-dir/SkillUtils$1.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/SkillUtils.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/StormsEmbrace$1.class.uniqueId16
build/tmp/compileJava/compileTransaction/stash-dir/StormsEmbrace.class.uniqueId40
build/tmp/compileJava/compileTransaction/stash-dir/SuperCharged$1.class.uniqueId53
build/tmp/compileJava/compileTransaction/stash-dir/SuperCharged.class.uniqueId43
build/tmp/compileJava/compileTransaction/stash-dir/TidalWave$1.class.uniqueId47
build/tmp/compileJava/compileTransaction/stash-dir/TidalWave.class.uniqueId32
build/tmp/compileJava/compileTransaction/stash-dir/TitansGUI.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/TomahawkThrow$1.class.uniqueId49
build/tmp/compileJava/compileTransaction/stash-dir/TomahawkThrow.class.uniqueId38
build/tmp/compileJava/compileTransaction/stash-dir/UmbrakinesisHades$1.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/UmbrakinesisHades$2.class.uniqueId19
build/tmp/compileJava/compileTransaction/stash-dir/UmbrakinesisHades.class.uniqueId46
build/tmp/compileJava/compileTransaction/stash-dir/VineWhip$1.class.uniqueId37
build/tmp/compileJava/compileTransaction/stash-dir/VineWhip.class.uniqueId35
build/tmp/compileJava/compileTransaction/stash-dir/WindWall$1.class.uniqueId27
build/tmp/compileJava/compileTransaction/stash-dir/WindWall.class.uniqueId5
build/tmp/compileJava/previous-compilation-data.bin
*.bin
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileJava/previous-compilation-data.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.10.1/fileHashes/resourceHashesCache.bin
.gradle/8.10.1/fileHashes/fileHashes.lock
.gradle/8.10.1/fileHashes/fileHashes.bin
.gradle/8.10.1/executionHistory/executionHistory.lock
.gradle/8.10.1/executionHistory/executionHistory.bin
*.bin
*.lock
